* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
}

body {
  background-color: #080808;
}

.container {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
}

.nav_wrap {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1b1b1b;
  padding: 0 100px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  @media (max-width: 992px) {
    padding: 0 50px;
  }
  a {
    font-weight: 400;
    font-size: 14px;
    color: #9c9c9c;
    text-decoration: none;
    @media (max-width: 992px) {
      display: none;
    }
  }
}

.mobile {
  display: none;
  @media (max-width: 992px) {
    display: block;
  }
}

.h_wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 80px;
  padding: 100px 0;
  @media (max-width: 860px) {
    flex-direction: column-reverse;
    gap: 40px;
    padding: 50px 0;
  }
}

.h_left {
  p {
    max-width: 500px;
    font-weight: 400;
    font-size: 14px;
    color: #9c9c9c;
    padding: 20px 0;
  }
  h1 {
    color: #fff;
    font-weight: 800;
    font-size: 44px;
  }
  button {
    border: 1px solid #62ba1b;
    cursor: pointer;
    box-shadow: 0px 8px 30px 0px #3f8e0080;
    background-color: #3f8e00;
    color: #fff;
    padding: 21px 70px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
  }
  @media (max-width: 860px) {
    text-align: center;
  }
}

.h_right img {
  width: 100%;
  max-width: 800;
  border-radius: 50%;
}

section h3 {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  padding-bottom: 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  align-items: center;
  margin-bottom: 45px;
  .card {
    width: 100%;
    text-align: center;
    border: 2px solid #1b1b1b;
    height: 60px;
    line-height: 60px;
    border-radius: 10px;
    img {
      width: 100%;
      max-width: 100px;
      margin-top: 10px;
    }
  }
  @media (max-width: 992px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 800px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}

.m_wrap {
  padding: 100px 0;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(5, 1fr);
   @media (max-width: 1067px) {
    grid-template-columns: repeat(4,1fr);
  }
  @media (max-width: 783px) {
    grid-template-columns: repeat(3,1fr);
    padding: 50px 0;
  }
  @media (max-width: 620px) {
    grid-template-columns: repeat(2,1fr);
  }

  @media (max-width: 380px) {
    grid-template-columns: repeat(1,1fr);
  }
  .card1 {
    width: 100%;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 16px;
    img {
      width: 100%;
    }
    span {
        display: block;
        margin: 10px 2px;
        h5{
            color: #fff;
        }
      p{
        color: #fff;
      }
    }
  }
}
